@{
    Layout = "~/_SiteLayout.cshtml";
    <link href="/Content/ref-tech.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/ref-tech.js"></script>
}

<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Eye of Sweden</a>
        <div class="navbar-header pull-right">
            <a id="nav-expander" class="nav-expander fixed">
                <span class="glyphicon glyphicon-unchecked"></span>
            </a>
        </div>
    </div>

   <nav id="history-pane" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
        <div class="navmenu-brand" id="history-header">
             <div>
                <span id="history-banner">History</span>
            </div>
        </div>
        <div class="history-item">
            <ul class="nav navmenu-nav" id="history-list">
                <li>
                    <div class="vframe">
                        <div>
                            <a href="https://www.youtube.com/embed/X6ragtux1eo?autoplay=1">
                                <img src="http://img.youtube.com/vi/X6ragtux1eo/hqdefault.jpg">
                            </a>
                        </div>
                        <div class="description"><a href="">Health</a></div>
                    </div>
                </li>
                <li>
                    <div class="vframe">
                        <div>
                            <a href="https://www.youtube.com/embed/FofjbSdsgq4?autoplay=1">
                                <img src="http://img.youtube.com/vi/FofjbSdsgq4/hqdefault.jpg">
                            </a>
                        </div>
                        <div class="description">
                            <a href="">Build Industry</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="vframe">
                        <div>
                            <a href="https://www.youtube.com/embed/FofjbSdsgq4?autoplay=1">
                                <img src="http://img.youtube.com/vi/FofjbSdsgq4/hqdefault.jpg">
                            </a>
                        </div>
                        <div class="description"><a href="">Education</a></div>
                    </div>
                </li>
                <li>
                    <div class="vframe">
                        <div>
                            <a href="https://www.youtube.com/embed/uI6yK1Wj2vY?autoplay=1">
                                <img src="http://img.youtube.com/vi/uI6yK1Wj2vY/hqdefault.jpg">
                            </a>
                        </div>
                        <div class="description"><a href="">IT</a></div>
                    </div>
                </li>
                <li>
                    <div class="vframe">
                        <div>
                            <a href="https://www.youtube.com/embed/ek5t8Vkj3jM?autoplay=1">
                                <img src="http://img.youtube.com/vi/ek5t8Vkj3jM/hqdefault.jpg">
                            </a>
                        </div>
                        <div class="description"><a href="">Automotive Industry</a></div>
                    </div>
                </li>
                <li>
                    <div class="vframe">
                        <div>
                            <a href="https://www.youtube.com/embed/ZBPv0?autoplay=1">
                                <img src="http://img.youtube.com/vi/ZBPv0/hqdefault.jpg">
                            </a>
                        </div>
                        <div class="description"><a href="">Work Practices</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

