<div id="video-top" class="video-container-main" ng-style="mainVideoWrapper()" style="background-color: black;">
    <div>
        <div>
            <iframe ng-src={{trustSrc(currentVideo.url)}} frameborder="0" allowfullscreen></iframe>-->

            <div class="next-arrow" style="float: right; position: relative; margin-right:35px;" ng-style="swipeButton()" ng-click="nextVideo()">
                <i style="font-size: 40px; color: white;" class="icon-chevron-right"></i>
            </div>

            <div class="next-arrow" style="float: left; position: relative; margin-left:35px;" ng-style="swipeButton()" ng-click="previousVideo()">
                <i style="font-size: 40px; color: white;" class="icon-chevron-left"></i>
            </div>

            <div ng-style="likeMiddle()" class="round-heart-wrapper" ng-click="like()">
                <i class="icon-heart big-like-icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-style="infoBox()" style="height: 300px; background-color: #32528e; color: white;">
        <div class="col-md-8 col-md-offset-2">
            <div style="paddingleft: 0px;" class="col-md-4 col-xs-5">
                <div>
                    <p style="padding-top: 45px; font-size: 18px;">{{currentVideo.title}}</p>
                </div>
            </div>
            <div style="paddingleft: 0px;" class="col-md-4 col-xs-2">

            </div>
            <div style="paddingleft: 0px;" class="col-md-4 col-xs-5">
                <div>
                    <p style="padding-top: 45px;">Lor emipsum Lorem ipsum Loremipsum Lorem ipsum</p>
                </div>
            </div>
        </div>
        <div class="get-down-icon-wrapper">
            <img ng-click="scrollDown()" class="get-down-icon" src="assets/pil_header.png"/>
        </div>
    </div>
    <div style="color: white; background-color: rgb(64,104,173); display: inline-block; padding-bottom: 35px;">
        <div style="padding: 35px; padding-bottom: 0px;" class="col-md-offset-2 col-md-4">
            <p>Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum</p>
        </div>
        <div style="padding: 35px; padding-bottom: 0px;" class="col-md-2">
            <p>Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum</p>
        </div>
        <div style="padding: 35px; padding-bottom: 0px;" class="col-md-2">
            <p>Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum Lor emipsum Lorem ipsum Loremipsum Lorem ipsum Lor emipsum Lore mipsum Lor emipsu m Lor em ipsum</p>
        </div>
    </div>
</div>
<div class="row">
    <div id="mightLike" class="col-md-6 col-md-offset-3" style="padding-bottom: 70px;">
        <h1 style="color:#32528e">You might like</h1>
        <div class="row" style="margin-left: -30px; margin-right: -30px;">
            <div style="cursor: pointer" class="col-lg-6 col-md-12" ng-repeat="video in nextVideos">
                <div style="padding-bottom: 30px;"  ng-click="clickVideo(video)">
                    <div class="video-container" style="pointer-events: none;">
                        <iframe style="width: 100%; pointer-events: none;" ng-src={{trustSrc(video.url)}} frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

