<div class="row">
    <div class="col-md-12">
        <div class="row transparent-box">
            <div class="col-md-12">
                <div ng-if="hasRole('ROLE_ADMIN')" ng-include src="'assets/components/views/main_nav_admin.html'"></div>
                <div class="row body no-top-padding">
                    <div class="col-md-10 col-md-offset-1">
                        <button class="btn btn-primary pull-right" ng-click="loadMore()">Ladda in 20 till</button>
                        <div class="row">
                            <h2 translate>PENDING_SUBMISSIONS</h2>
                            <div ng-repeat="submission in pendingSubmissions | submissionStatusFilter:'none'">
                                <div class="col-xs-2">
                                    <img class="img-responsive" ng-src="{{submission.generatedImage.fullUrl}}">
                                    <div class="admin-icons pull-right">
                                        <span ng-click="declineSubmission(submission)" class="glyphicon glyphicon-remove decline-icon" ng-class="{declined: isDeclined(submission)}" aria-hidden="true"></span>
                                        <span ng-click="acceptSubmission(submission)"class="glyphicon glyphicon-ok accept-icon" ng-class="{accepted: isAccepted(submission)}" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h2 translate>ACCEPTED_SUBMISSIONS</h2>
                            <div ng-repeat="submission in acceptedSubmissions | submissionStatusFilter:'accepted'">
                                <div class="col-xs-2">
                                    <img class="img-responsive" ng-src="{{submission.generatedImage.fullUrl}}">
                                    <div class="admin-icons pull-right">
                                        <span ng-click="declineSubmission(submission)" class="glyphicon glyphicon-remove decline-icon" ng-class="{declined: isDeclined(submission)}" aria-hidden="true"></span>
                                        <span ng-click="acceptSubmission(submission)"class="glyphicon glyphicon-ok accept-icon" ng-class="{accepted: isAccepted(submission)}" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h2 translate>DECLINED_SUBMISSIONS</h2>
                            <div ng-repeat="submission in declinedSubmissions | submissionStatusFilter:'declined'">
                                <div class="col-xs-2">
                                    <img class="img-responsive" ng-src="{{submission.generatedImage.fullUrl}}">
                                    <div class="admin-icons pull-right">
                                        <span ng-click="declineSubmission(submission)" class="glyphicon glyphicon-remove decline-icon" ng-class="{declined: isDeclined(submission)}" aria-hidden="true"></span>
                                        <span ng-click="acceptSubmission(submission)"class="glyphicon glyphicon-ok accept-icon" ng-class="{accepted: isAccepted(submission)}" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
