<div class="row">
    <div class="col-md-12">
        <div class="row transparent-box">
            <div class="col-md-12">
                <div ng-if="hasRole('ROLE_ADMIN')" ng-include src="'assets/components/views/main_nav_admin.html'"></div>
                <div class="row body no-top-padding">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 translate>
                            ADMINS
                        </h2>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="brightlabs-core-table table table-striped" style="cursor: pointer;">
                                    <thead>
                                        <tr>
                                            <th translate>EMAIL</th>
                                            <th translate>ROLES</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td class="brightlabs-core-pointer" colspan="100%" ng-click="openCreateUserModal()" translate>ADD</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="row in users" ng-class="{'brightlabs-core-line-through': !row.enabled}">
                                            <td>{{row.username}}</td>
                                            <td translate>{{row.authorities[0].authority}}</td>
                                            <td ng-click="archiveUser(row, $index)">&times</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <form ng-init="newUser">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Email" ng-model="newUser.username">
                                        <input type="password" class="form-control" ng-model="newUser.password">
                                    </div>
                                    <button ng-click="createUser(newUser)" class="btn btn-primary" style="margin-top: 20px;" translate>CREATE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>