<div class="row root-scope">
    <div class="col-md-12">
        <div class="row transparent-box body">
            <div class="col-sm-12">

                <div ng-class="{'landing-image-mobile': isMobile()}" class="row landing-image" ng-style="style()">
                    <div class="facebookLikeWrapper">
                        <div class="fb-like" data-href="https://www.facebook.com/7elevensverige" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                    <div class="logo-header-mobile-wrapper">
                        <a href="http://www.7-eleven.se">
                            <img class="carousel-image" ng-src="assets/logo.png" style="margin:auto;">
                        </a>
                    </div>
                    <div class="twitterWrapper">
                        <p>#jagärlucia</p>
                    </div>
                    <video ng-hide="isMobile()" id="landingVideo" autoplay preload="auto" width="100%" height="100%" loop>
                        <source src="https://s3-eu-west-1.amazonaws.com/7-11-lucia/lussevideo.webm" type="video/webm">
                        <source src="https://s3-eu-west-1.amazonaws.com/7-11-lucia/lussevideo.mp4" type="video/mp4">
                        <source src="https://s3-eu-west-1.amazonaws.com/7-11-lucia/lussevideo.ogg" type="video/ogg">

                    </video>
                    <div class="lucia-welcome-text">
                        <h2>{{ 'SHOW_YOUR_LUCIA' | translate }}</h2>
                        <div class="row col-md-4 col-md-offset-4">
                            <div style="padding-left: 15px; padding-right: 15px;">
                                Tillsammans har vi skapat Sveriges längsta luciatåg – 21 769 deltagare! Därmed ger vi 217 690 kronor till Friends.
                            </div>
                        </div>
                        <div class="row col-md-4 col-md-offset-4">
                            <br>
                            <div>
                                {{ 'INTRO_TEXT_PART_2' | translate }}
                            </div>
                        </div>
                        <div class="row col-md-8 col-md-offset-2">
                            <button ng-click="scrollToSubmissions()" class="lucia-transparent-button">{{ 'TAKE_A_PICTURE' | translate }}</button>
                        </div>
                    </div>
                    <div class="get-down-icon-wrapper">
                        <img ng-click="scrollToSubmissions()" class="get-down-icon bounce" src="assets/pil_header.png"/>
                    </div>

                </div>
                <div ng-if="hasRole('ROLE_ADMIN')" ng-include src="'assets/components/views/main_nav_admin.html'"></div>
                <div ng-show="isDesktop()" id="lucia-start" class="main-navigation" ng-if="!hasRole('ROLE_ADMIN')" ng-include src="'assets/components/views/main_nav.html'"></div>
                <!-- DESKTOP INFO -->
                <!--<div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div ng-show="displayMode != 'mobile'" ng-if="!showThankYou()" class="col-md-6 lucia-instructions">
                                <div style="padding-top: 7%;">
                                    <ol>
                                        <div class="lucia-instruction-part row">
                                            <div class="col-md-3 col-md-offset-1 col-sm-12">
                                                <img class="lucia-icon" src="assets/ikon_kamera.png"/>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                                <li>
                                                    <p class="instruction-text">{{ 'LUCIA_INSTRUCTIONS_PART_1' | translate }}</p>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="lucia-instruction-part row">
                                            <div class="col-md-3 col-md-offset-1 col-sm-12">
                                                <img style="padding-left: 5px;" class="lucia-icon" src="assets/ikon_hjarta.png"/>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                                <li>
                                                    <p class="instruction-text">{{ 'LUCIA_INSTRUCTIONS_PART_2' | translate }}</p>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="lucia-instruction-part row">
                                            <div class="col-md-3 col-md-offset-1 col-sm-12">
                                                <img class="lucia-icon" src="assets/ikon_share.png"/>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                                <li>
                                                    <p class="instruction-text">{{ 'LUCIA_INSTRUCTIONS_PART_3' | translate }}</p>
                                                </li>
                                            </div>
                                        </div>
                                    </ol>
                                </div>
                            </div>
                            <div ng-show="displayMode != 'mobile'" ng-if="showThankYou()" class="col-md-6 lucia-instructions">
                                <div>
                                    <div class="lucia-instruction-part row">
                                        <img style="padding-left: 5px;" class="lucia-icon" src="assets/ikon_hjarta.png"/>
                                    </div>
                                    <h1 style="margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">{{ 'THANK_YOU' | translate }}</h1>
                                    <div class="lucia-instruction-part row">
                                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
                                            <p style="text-align: center;">{{ 'LUCIA_INSTRUCTIONS_PART_3' | translate }}</p>
                                        </div>
                                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
                                            <p style="text-align: center;">{{ 'THANK_YOU_TEXT_PART_1' | translate }}</p>
                                        </div>
                                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
                                            <p style="text-align: center;">{{ 'THANK_YOU_TEXT_PART_2' | translate }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-2">
                                            <div class="lucia-center-button">
                                                <img ng-click="shareFacebook()" class="lucia-round-icon" src="assets/knapp_rund_dela_svart.png"/>
                                                <p class="lucia-round-icon-text-condensed">{{ 'SHARE_FACEBOOK' | translate }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="lucia-center-button">
                                                <img ng-click="setProfilePictureFacebook()" class="lucia-round-icon" src="assets/knapp_rund_profil_svart.png"/>
                                                <p style="max-width: 200px;" class="lucia-round-icon-text-condensed">{{ 'SET_PROFILE_PICTURE_FACEBOOK' | translate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lucia-camera-wrapper">
                                <div class="col-md-6 lucia-upload-wrapper">
                                    <image-upload-box class="lucia-upload-box" image="mySubmission.generatedImage" display-mode="displayMode" my-submission="mySubmission" submitted-by="mySubmission.submittedBy" allowed-types="allowedImageTypes" upload-url="uploadUrl" step="step" take-picture="takePicture()" upload-picture="uploadPicture()" create-submission="createSubmission()"></image-upload-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- DESKTOP INFO END -->
                <!-- MOBILE INFO START-->
                <!--<div ng-show="displayMode == 'mobile'" id="lucia-start-mobile" class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div ng-if="!showThankYou()" class="col-md-6 lucia-instructions">
                                <div style="padding-top: 7%;">
                                    <ol>
                                        <div class="lucia-instruction-part row">
                                            <div class="col-md-3 col-md-offset-1 col-sm-12">
                                                <img class="lucia-icon" src="assets/ikon_kamera.png"/>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                                <li>
                                                    <p class="instruction-text">{{ 'LUCIA_INSTRUCTIONS_PART_1' | translate }}</p>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="lucia-instruction-part row">
                                            <div class="col-md-3 col-md-offset-1 col-sm-12">
                                                <img style="padding-left: 5px;" class="lucia-icon" src="assets/ikon_hjarta.png"/>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                                <li>
                                                    <p class="instruction-text">{{ 'LUCIA_INSTRUCTIONS_PART_2' | translate }}</p>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="lucia-instruction-part row">
                                            <div class="col-md-3 col-md-offset-1 col-sm-12">
                                                <img class="lucia-icon" src="assets/ikon_share.png"/>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                                <li>
                                                    <p class="instruction-text">{{ 'LUCIA_INSTRUCTIONS_PART_3' | translate }}</p>
                                                </li>
                                            </div>
                                        </div>
                                    </ol>
                                </div>
                            </div>
                            <div ng-if="showThankYou()" class="col-md-6 lucia-instructions">
                                <div>
                                    <div class="lucia-instruction-part row">
                                        <img style="padding-left: 5px;" class="lucia-icon" src="assets/ikon_hjarta.png"/>
                                    </div>
                                    <h1 style="margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">{{ 'THANK_YOU' | translate }}</h1>
                                    <div class="lucia-instruction-part row">
                                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
                                            <p style="text-align: center;">{{ 'LUCIA_INSTRUCTIONS_PART_3' | translate }}</p>
                                        </div>
                                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
                                            <p style="text-align: center;">{{ 'THANK_YOU_TEXT_PART_1' | translate }}</p>
                                        </div>
                                        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 20px;">
                                            <p style="text-align: center;">{{ 'THANK_YOU_TEXT_PART_2' | translate }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-2">
                                            <div class="lucia-center-button">
                                                <img ng-click="shareFacebook()" class="lucia-round-icon" src="assets/knapp_rund_dela_svart.png"/>
                                                <p class="lucia-round-icon-text-condensed">{{ 'SHARE_FACEBOOK' | translate }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="lucia-center-button">
                                                <img ng-click="setProfilePictureFacebook()" class="lucia-round-icon" src="assets/knapp_rund_profil_svart.png"/>
                                                <p style="max-width: 200px;" class="lucia-round-icon-text-condensed">{{ 'SET_PROFILE_PICTURE_FACEBOOK' | translate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- MOBILE INFO END-->
                <div id="lucia-submissions" class="lucia-uploads row" ng-style="screenMinHeight()">
                    <div style="padding-top: 40px; padding-left: 0px; padding-right: 0px;" class="col-xs-12">
                        <div class="{{getSizeClass()}} lucia-header">
                            <h1 style="text-align: center; padding-bottom: 25px;">{{ 'LUCIAS_SWEDEN' | translate }}</h1>
                        </div>
                        <div style="max-width: 100%; overflow: hidden !important;">
                            <uib-carousel interval="myInterval" class="{{getSizeClass()}}">
                                <uib-slide ng-repeat="slideCollection in groupedSlides" active="slide.active">
                                    <div class="carousel-element-wrapper">

                                        <div class="carousel-header" ng-repeat="submission in slideCollection">
                                            <span style="font-weight: bold">Lucia #{{submission.fakeId}}:</span>
                                            <span>{{submission.submittedBy}}</span>
                                        </div>

                                        <img class="carousel-image" ng-src="{{slideCollection[0].generatedImage.fullUrl}}">
                                        <img class="carousel-image" ng-src="{{slideCollection[1].generatedImage.fullUrl}}">
                                        <img class="carousel-image" ng-src="{{slideCollection[2].generatedImage.fullUrl}}">
                                        <img class="carousel-image" ng-src="{{slideCollection[3].generatedImage.fullUrl}}">
                                    </div>
                                    <span style="width: 325px; vertical-align: middle;" ng-repeat="n in slideCollection">
                                        <!--<img ng-if="$index == 0" ng-src="assets/klänning_vänster.png" style="margin: 0px; width: 395px; margin-right: -3.875px; margin-left: -70px;">-->
                                        <img ng-src="assets/klanning.png" style="margin: 0px; width: 325px; margin-right: -3.875px;">
                                    </span>
                                </uib-slide>
                            </uib-carousel>
                        </div>
                        <div style="height: 60px;">
                        </div>
                    </div>
                </div>
                <div id="lucia-video" class="row">
                    <div class="video-container">
                        <iframe width="720" height="400" src="https://www.youtube.com/embed/1aKaj1IoeP8?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">

                    <div class="friends-image-wrapper seven-eleven-logo-footer">
                        <a href="http://www.7-eleven.se">
                            <img class="carousel-image" ng-src="assets/logo.png" style="margin:auto;">
                        </a>
                    </div>
                    <div class="friends-text col-md-6 col-md-offset-3 col-xs-12">
                    <p class="footer-large-text">
                        {{ 'FOOTER_TEXT_HEADER_PART_1' | translate }}
                        <br>
                        {{ 'FOOTER_TEXT_HEADER_PART_2' | translate }}
                        <a href="http://www.7-eleven.se/friends/">här</a></p>
                    </div>
                    <div style="padding-bottom: 50px;" class="friends-text col-md-8 col-md-offset-2 col-xs-12">
                        {{ 'FOOTER_TEXT' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
