<div class="row">
    <div class="col-md-12 header">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <img class="logo" src="assets/logo.png"/>
            </div>
            <div class="collapse navbar-collapse">
                <div class="col-md-8 col-md-offset-1">
                    <ul class="nav navbar-nav main-nav">
                        <li active-route="/adminDashboard">
                            <a href="#/adminDashboard">{{ 'ACCEPT_UPLOADS' | translate }}</a>
                        </li>
                        <li active-route="/adminUsers">
                            <a href="#/adminUsers">{{ 'NEW_ADMIN' | translate }}</a>
                        </li>
                    </ul>
                    <ul class="nav settings-nav navbar-right ">
                        <li>
                            <a href="logout">{{ 'LOGOUT' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
